<mat-card mat-ripple>
    <mat-card-content>
        <div class="site-options">
            <button mat-icon-button><mat-icon>home</mat-icon></button>
        </div>
        <div class="site-info">
            <h4>Home</h4>
            <div class="site-content">
                <div>
                    <mat-icon>person</mat-icon> <span>4</span>
                </div>
                <div>
                <mat-icon>currency</mat-icon> 1000

                </div>
            </div>
            
        </div>
        <div class="site">

        </div>
    </mat-card-content>
</mat-card>
