mat-card{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        button{
            width: fit-content;
            margin: auto;
        }
    }
}